<html lang="en-US">
    <head>
        <title>@ViewBag.Title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/Content/body-styles.css" />
        @RenderSection("CSS", true)
        <script src="~/Scripts/jquery-3.5.1.min.js"></script>
        @RenderSection("JavaScript", true)
    </head>
    <body>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </body>
</html>
